<body>
<div class="card-wrapper  | content-cc" style="background-color: pink;">
    <div class="faq-card">
  
      <div class="faq-ilustrations" >
  
        <!-- mobile -->
        <img class="mobile pattern" 
             src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/bg-pattern-mobile.svg">
        
        <img class="mobile ilust" 
             src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/illustration-woman-online-mobile.svg">
        
        <!-- mobile -->
      </div>
  
      <main class="faq-content">
        <h1>FAQ</h1>
  
        <div class="faq-articles">
  
          <article class="faq-accordion">
  
            <input type="checkbox" class="tgg-title" id="tgg-title-1">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-1">
                <h2>What will be the interest rate?</h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p>8.5%</p>
            </div>
  
          </article> <!-- faq accordion -->
  
          <article class="faq-accordion">
  
            <input type="checkbox" class="tgg-title" id="tgg-title-2">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-2">
                <h2>
                  What is the maximum file upload size?
                </h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p>No more than 2GB. All files in your account must fit your allotted storage space.</p>
            </div>
  
          </article> <!-- faq accordion -->
  
          <article class="faq-accordion">
  
            <input class="tgg-title" type="checkbox" id="tgg-title-3">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-3">
                <h2>
                  How to check eligibility for home loan?
                </h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p>Go to Eligibility Calculator.</p>
            </div>
  
          </article> <!-- faq accordion -->
  
        
  
        </div> <!-- faq articles -->
  
      </main> <!-- faq -->
  
    </div> <!-- faq card -->
  
  </div> <!-- card wrapper -->
  
  <footer class="attribution" style="background-color:black;color: white;">
    <p><b>Home Loans </b>@8.5% p.a. onwards<br>Your DREAM HOME JUST A LITTLE AWAY FROM YOU WITH US</p>
    
  </footer>
</body>