
<mat-toolbar class="mat-evevation-z6" style="background-color: black; position: relative;">
    <span style="color: whitesmoke;">HOME LOAN</span>
    <div class="spacer" style="color: whitesmoke;">
    <a mat-button routerLink="dashboard">Home</a>
    <a mat-button routerLink="eligiblity">Eligiblity Calculator</a>
    <a mat-button routerLink="emi">Emi Calculator</a>
    <a mat-button routerLink="adminlogin">Admin Login</a>
    <a mat-button routerLink="userreg">Application Form</a>
    <a mat-button routerLink="userlogin">User LogIn</a>
    <a mat-button routerLink="aboutus">About Us</a>
    <a mat-button routerLink="faq">FAQ</a>
    </div>
    
</mat-toolbar>
 
