<html>
<body background="https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?w=996&t=st=1659449622~e
xp=1659450222~hmac=c39e6aa7955882f7b0e02e23976140c1e676e391aa146e5ef9899a6667a5a8c6"  >
     <div class="row d-flex justify-content-center align-items-center h-50"> 
     <div class="row d-flex justify-content-center align-items-center w-35">
     <div class="card text-dark bg-white mb-10" style="max-width: 30rem;">
     <div class="col-lg-8 col-xl-8">  
     <ul>
     <p><b>SELECT THE TYPE OF INCOME</b></p>
      
     <button routerLink="/salaried" routerActiveLink="active"><b>Salaried</b></button>
     <br>
     <br>
     <br>

    <button routerLink="/selfemployed"  routerActiveLink="active"><b>Self Employed</b> </button>
</ul> 
</div></div></div></div>

    

</body>
</html>
   