<div class="about-section">
  <h1>About Us</h1>

  <p><b>Buying a house is a dream for many and involves alot of
      financial planning . Our Home Loan makes it simpler for those
      who want to realise this dream.
    </b></p>

</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Vipul Goyal</h2>
        <p class="title">Director</p>
        <p>Head of our Project</p>
        <p>vipul.goyal@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>



  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ankit Pandey</h2>
        <p class="title">Public help Department</p>
        <p>Managing Loan related issues and application </p>
        <p>ankit.pandey@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Dharmvatsal Singh Chauhan</h2>
        <p class="title">Account Section</p>
        <p>Dealing with Income and property</p>
        <p>dharmvatsal.singh@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jahanvi Goyal</h2>
        <p class="title">Hr</p>
        <p>Hr department</p>
        <p>jahanvi.goyal@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>