<body background="https://maisieh15.files.wordpress.com/2010/11/grunge1.jpg">

  <div class="container addform">
    <h2 class="heading">Loan Application Form</h2>

    <br>
    <div class="row">
      <div class="col-lg-12">

        <form [formGroup]="LoanApplicationForm" (ngSubmit)="onSubmit()">

          <br>

          <div class="form-group row">
            <label for="loanAmount" class="col-sm-2 col-form-label"
              [ngClass]="{'has-error':LoanApplicationForm.get('loanAmount')?.errors && (LoanApplicationForm.get('loanAmount')?.touched || LoanApplicationForm.get('loanAmount')?.dirty)}"><b>Loan
                Amount: </b></label><br>
            <div class="col-sm-5">
              <input type="number" class="form-control" id="loanAmount" formControlName="loanAmount"
                placeholder="Enter loanAmount">
              <span class="help-block "
                *ngIf="LoanApplicationForm.get('loanAmount')?.errors && (LoanApplicationForm.get('loanAmount')?.touched || LoanApplicationForm.get('loanAmount')?.dirty)">
                <span class="text-danger" *ngIf="LoanApplicationForm.get('loanAmount')?.errors?.['required']">
                  Loan Amount is required
                </span>
              </span>
            </div>
          </div><br>

          <div class="form-group row">
            <label for="tenure" class="col-sm-2 col-form-label"
              [ngClass]="{'has-error':LoanApplicationForm.get('tenure')?.errors && (LoanApplicationForm.get('tenure')?.touched || LoanApplicationForm.get('tenure')?.dirty)}"><b>Tenure:
              </b></label><br>
            <div class="col-sm-5">
              <input type="number" class="form-control" id="tenure" formControlName="tenure" placeholder="Enter tenure">
              <span class="help-block "
                *ngIf="LoanApplicationForm.get('tenure')?.errors && (LoanApplicationForm.get('tenure')?.touched || LoanApplicationForm.get('tenure')?.dirty)">
                <span class="text-danger" *ngIf="LoanApplicationForm.get('tenure')?.errors?.['required']">
                  Tenure is required
                </span>
              </span>
            </div>
          </div>
          <br>

          <!-- <div class="form-group row">
            <label for="interest" class="col-sm-2 col-form-label"
              [ngClass]="{'has-error':LoanApplicationForm.get('interest')?.errors && (LoanApplicationForm.get('interest')?.touched || LoanApplicationForm.get('interest')?.dirty)}"><b>Interest</b></label><br>
            <div class="col-sm-5">
              <input type="number" class="form-control" id="interest" formControlName="interest"
                placeholder="Enter interest">
              <span class="help-block "
                *ngIf="LoanApplicationForm.get('interest')?.errors && (LoanApplicationForm.get('interest')?.touched || LoanApplicationForm.get('interest')?.dirty)">
                <span class="text-danger" *ngIf="LoanApplicationForm.get('interest')?.errors?.['required']">
                  Interest is required
                </span>
              </span>
            </div>
          </div> -->


          <br>

          <br>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>



      </div>




    </div>