<body background="https://img.freepik.com/premium-vector/white-abstract-background-3d-paper-style_23-2148403778.jpg?w=996">
  <h3 style="text-align:center;">User Registration</h3>
  <div class="col-md-6 offset-3 ">
    <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100"> 
       
         <div class="col-lg-8 col-xl-8">  
          <div class="card text-dark bg-white mb-3" style="max-width: 50rem;">
          <form [formGroup]="regform" (ngSubmit)="onSubmit()" class="px-md-2">
            <div class="form-outline mb-3">
           
                <label for="firstName" style="text-align: center;">First Name*</label>
                <input type="text" style="max-width: 30rem; " formControlName="firstName" class="form-control" placeholder="Enter User FirstName" required>
                <span class="help-block " *ngIf="regform.get('firstName')?.errors && (regform.get('firstName')?.touched || regform.get('firstName')?.dirty)">
                    <span class="text-danger" *ngIf="regform.get('firstName')?.errors?.['required']">
                      First Name is required
                    </span>
                </span>

               
            </div>

            <div class="form-outline mb-3">
              
                <label for="middleName">Middle Name</label>
                <input type="text" style="max-width: 30rem;" formControlName="middleName" class="form-control"placeholder="Enter User MiddleName">
            </div>
            <div class="form-outline mb-3">
               
                <label for="lastName">Last Name</label>
                <input type="text" style="max-width: 30rem; " formControlName="lastName" class="form-control" placeholder="Enter User LastName">
            </div>
            <div class="form-outline mb-3">

                <label for="email">Email</label>
                <input
                     type="text"
                     style="max-width: 30rem; " 
                     formControlName="email"
                     class="form-control"
                     placeholder="Enter User Email" 
                     pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$"
                     required
                    >
                <span class="help-block "
                    *ngIf="regform.get('email')?.errors && (regform.get('email')?.touched || regform.get('email')?.dirty)">
                    <span class="text-danger" *ngIf="regform.get('email')?.errors?.['required']">
                        Email is required and fill it correct
                    </span>
                    <span *ngIf="regform.get('email').errors?.['pattern']">
                        Please enter a valid EmailID
                    </span>

                </span>
            </div>
            <div class="form-outline mb-3">
                <label for="password">Password</label>
                <input type="password" style="max-width: 30rem;" z formControlName="password"
                    class="form-control" placeholder="Set Password" id="password" required
                    minlength="8">
                <span class="text-danger"
                    *ngIf="regform.get('password')?.errors && (regform.get('password')?.touched || regform.get('password')?.dirty)">
                    <span class="text-danger" *ngIf="regform.get('password')?.errors?.['required']">
                        Password is required
                    </span>
                    <span *ngIf="regform.get('password').errors?.['minlength']">
                        Password must be 8 characters long
                    </span>
                </span>
            </div>

            <div class="form-outline mb-3">
                <label for="phone">Phone Number</label>
                <input type="text" style="max-width: 30rem;" formControlName="phone"
                    class="form-control" placeholder="Enter Phone Number" id="phone" required 
                    minlength="10"
                    pattern="^[0-9]{0,30}">
                <span class="text-danger"
                    *ngIf="regform.get('phone')?.errors && (regform.get('phone')?.touched || regform.get('phone')?.dirty)"
                >
                    <span class="text-danger" *ngIf="regform.get('phone').errors?.['required']">
                        Phone is required
                    </span>
                    
                    <span class="text-danger" *ngIf="regform.get('phone').errors?.['minlength']">
                        Phone number must be of 10 digits
                    </span><br/>
                    
                    <span class="text-danger" *ngIf="regform.get('phone').errors?.['pattern']">
                        phone number isn't valid
                    </span>
                </span>
            </div>

            <div class="form-outline mb-3">
                <label for="dob">Date Of Birth</label>
               <input type="date" style="max-width: 30rem;" formControlName="dob" class="form-control" placeholder="Enter DOB">
            </div>

            <!-- <div class="form-outline mb-3">
                <label for="gender">Gender</label>
               <input type="text" style="max-width: 30rem;" formControlName="gender" class="form-control" placeholder="Enter Gender">
            </div> -->
            <div class="form-outline mb-3">
                <label for="gender">Gender</label> &nbsp;
                <select name="gender"formControlName="gender" class="form-control">
                    <option value="none" selected>Select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">other</option>
                </select>
            </div>

            <div class="form-outline mb-3">
                <label for="nationality">Nationality</label>
               <input type="text" style="max-width: 30rem;" formControlName="nationality" class="form-control" placeholder="Enter Nationality">
            </div>

            <div class="form-outline mb-3">
                <label for="aadharnumber">Aadhar Number</label>
                <input type="text" style="max-width: 30rem;" formControlName="aadharNo"
                    class="form-control" placeholder="Enter Aadhar Number"
                    minlength="12" required>
                <span class="text-danger"
                    *ngIf="regform.get('aadharNo')?.errors && (regform.get('aadharNo')?.touched || regform.get('aadharNo')?.dirty)"
                >
                    <span class="text-danger" *ngIf="regform.get('aadharNo').errors?.['required']">
                        aadharNo is required
                    </span>
                    
                    <span *ngIf="regform.get('aadharNo').errors?.['minlength']">
                        aadharNo must be 12 characters long
                    </span>
                </span>
            </div>

            <div class="form-outline mb-3">
                <label for="pannumber">Pan Number</label>
                <input type="text" style="max-width: 30rem;" formControlName="panNo"
                    class="form-control" placeholder="Enter Pan Number"
                    pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
                    required>
                <span class="text-danger"
                    *ngIf="regform.get('panNo')?.errors && (regform.get('panNo')?.touched || regform.get('panNo')?.dirty)"
                >
                    <span class="text-danger" *ngIf="regform.get('panNo').errors?.['required']">
                        Pan number is required
                    </span>
                    
                    <span *ngIf="regform.get('panNo').errors?.['pattern']">
                        pan number must be in valid pattern
                    </span>
                </span>
            </div>

           <button type="submit" class="btn btn-success btn-m mb-1">NEXT</button>       
        </form> 
        </div>
    </div>
 </div>
 </div>